/* AppLayout.css */

.app-layout {
  display: flex;
  min-height: 100dvh;
  background: var(--bg-primary);
}

/* default (expanded) */
.main-col {
  margin-left: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  transition: margin-left 0.2s ease, width 0.2s ease;
}

/* collapsed mode */
.app-layout.sidebar-collapsed .main-col {
  margin-left: 70px;
  width: 100%;
}

.app-content {
    padding: 0;
}

/* responsive */
@media (max-width: 830px) {
  .main-col {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
