.auth-page {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  background: var(--bg-gradient-start);
  position: relative;
}

/*.auth-bg-blur {
  position: absolute;
  inset: 0;
  z-index: 0;
  filter: blur(40px);
  opacity: 0.3;
}*/

.auth-left,
.auth-right {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-left {
  background: radial-gradient(
    circle at center,
    rgba(255, 215, 0, 0.08),
    transparent 70%
  );
}

.auth-right {
  background: var(--bg-gradient-start); /* already theme reactive via CSS vars */
}

